<div class="container-fluid py-2">

    <div class="row" *ngIf="isMobileResolution">
        <div class="col d-grid gap-2">
            <input type="text" [(ngModel)]="searchKeyword" placeholder="Search for items in this list" (input)="filterProducts()">
        </div>
    </div>

    <div class="row justify-content-evenly mt-2" *ngIf="isMobileResolution">
        <div class="col-4">
            <select id="category" [(ngModel)]="selectedCategory" (change)="filterProducts()">
                <option value="">Categories</option>
                <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>
        </div>
        <div class="col-4">
            <select [(ngModel)]="selectedSortOption" (ngModelChange)="sortProducts()">
                <option value="">Sort By</option>
                <option value="nameAsc">Name (A-Z)</option>
                <option value="nameDesc">Name (Z-A)</option>
                <option value="priceAsc">Price (Low to High)</option>
                <option value="priceDesc">Price (High to Low)</option>
                <option value="categoryAsc">Category (A-Z)</option>
            </select>
        </div>
    </div>

    <div class="row mt-4" *ngIf="isMobileResolution">
        <div class="col">
            Products found: <b>{{ totalProducts }}</b>
        </div>
    </div>
    
    <div class="row mb-4">
        <div class="col" *ngIf="!isMobileResolution">
            <span>
                Products found: <b>{{ totalProducts }}</b>
            </span>
            <span class="searchKeyword">
                <input type="text" [(ngModel)]="searchKeyword" placeholder="Search for items in this list" (input)="filterProducts()">
            </span>
        </div>
        <div class="col sort-drop-down" *ngIf="!isMobileResolution">
            <label for="sort">Sort by:</label>
            <select class="mx-2" id="sort" [(ngModel)]="selectedSortOption" (ngModelChange)="sortProducts()">
                <option value="nameAsc">Name (A-Z)</option>
                <option value="nameDesc">Name (Z-A)</option>
                <option value="priceAsc">Price (Low to High)</option>
                <option value="priceDesc">Price (High to Low)</option>
                <option value="categoryAsc">Category (A-Z)</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-xs-12" *ngIf="!isMobileResolution">
            <label for="category">Filter by Category:</label>
            <select id="category" [(ngModel)]="selectedCategory" (change)="filterProducts()">
              <option value="">Categories</option>
              <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div *ngFor="let product of filteredProducts" class="card card-width m-2">
                    <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.category }}</p>
                        <h3>{{ product.price | currency:"R" }}</h3>
                    </div>
                </div>
                <p *ngIf="!showNoSearchResults" (click)="expandList()" class="text-center fs-4 text-primary" style="cursor: pointer;">{{ showText }}</p>
                <p *ngIf="showNoSearchResults" class="text-center fs-4 text-danger">{{ notFoundMsg }}</p>
            </div>
        </div>
    </div>
</div>